/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');*/

:root {
    --primary-color-a: #313131;
    --primary-color-b: #322f2e;
    --primary-color-c: #c47344;
    --primary-color-d: #fff;
}

html{
    height: 100%;

}

body {
    margin:0 auto;
    min-height: 100%;
    background: linear-gradient(#fff8ef, #fff) no-repeat;
    font-family: "Roboto", sans-serif;
}

h1, h2 {
    display:  none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    height: 90px;
    width: 1300px;
}

.menu {
    box-sizing: border-box;
    display: flex;
    height: 60px;
    width: 616px;
    justify-content: flex-end;
    align-items: center;
    
}

nav li a {
    font-size: 15px;
    line-height: 133%;
    font-weight: 700;
    text-align: left;
    color: var(--primary-color-b);
}

.nav-orange {
    color: var(--primary-color-d);
    background-color: var(--primary-color-c); 
}


h1 + section {
    text-align: center;
}

.rely {
    color: var(--primary-color-b);
}

.rely span {
    font-size: 13px;
    line-height: 208%;
    font-weight: 700;
    color: #4d4d4d;
    background-color: #f9ede2;
}

.rely span:first-child {
    color: var(--primary-color-d);
    background-color: #f9a38f;
}

.rely h3 {
    font-size: 110px;
    line-height: 108%;
    font-weight: 500;
    
}

.rely p {
    font-size: 21px;
    line-height: 157%;
    font-weight: 700;
}

.rely a {
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    color: var(--primary-color-d);
    background-color: var(--primary-color-c);
}

.rely_href {
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    color: var(--primary-color-c);
}

.cards div {
    text-align:center;
    color:var(--primary-color-b);
    font-weight: 700;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: center;
}

.cards h3 {
    font-size: 42px;
    line-height: 124%;
}

.cards p {
    font-size: 16px;
    line-height: 175%;
}

.cards a {
    font-size: 15px;
    line-height: 133%;
    color: #000;
    border: 2px solid #e1ded9;
    border-radius: 50%;
}


.quiz-box {
    text-align: left;
    color: var(--primary-color-d);
    background-color: #32686f;
    font-size: 14px;
    line-height: 143%;
    font-weight: 300;
}

.quiz-box h3 {
    font-size: 28px;
    line-height: 114%;
    font-weight: 700;
    
}

.near-quiz {
    text-align: left;
    font-weight: 700;
    color: var(--primary-color-b);
}

.near-quiz span {
    text-align:center;
    font-size: 12px;
    line-height: 208%;
    color: var(--primary-color-d);
    background-color: #f9a38f;
}

.near-quiz h3 {
    font-size: 53px;
    line-height: 117%;
}

.near-quiz p {
    font-size: 21px;
    line-height: 157%;
    font-weight: 500;
}

.near-quiz a {
    text-align:center;
    font-size: 21px;
    line-height: 157%;
    color: #000;
    border: 2px solid #e1ded9;
    border-radius: 50%;
}

.gallery {
    text-align: left;
    background-color: #f2efe9;
}

.gallery h3 {
    font-size: 40px;
    line-height: 135%;
    font-weight: 700;
    color: #1A1918;
}

.gallery p {
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;
    color: var(--primary-color-b);
}

.gallery form {
    color:  rgba(0, 0, 0, 0.45);;
    background-color: var(--primary-color-d);
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;
}


footer, footer ul a {
    text-align: left;
    font-size: 13px;
    line-height: 154%;
    font-weight: 400;
    color: var(--primary-color-a);
}

.footer_h{
    font-weight: 500;
    color: #333333;
}

.footer_inscrip {
    color: #D3D3D3;
}

.pink {
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 191%;
    color: var(--primary-color-d);
}
 /*a {
    text-decoration: none;
    color: var(--primary-color-a);
}

header a {
    color: var(--primary-color-text);
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}
h1, h2 {
    visibility:hidden;
}

nav {
    text-align: right;
    line-height: 20px;
}
footer a {
    color: var(--primary-color-a);
    font-weight: 300;
}

ul {
    list-style-type: none;
}


 
.rely{
    text-align:center;
}

 .rely_h {
    color: var(--primary-color-text);
    font-size: 110px;
    font-weight: bold;
    text-align:center;
    line-height: 119px;
 }

 .rely_p {
    color: var(--primary-color-text);
    font-size: 21px;
    font-weight: medium;
    text-align:center;
    line-height: 33px;
 }

 .orange_button {
    color: --primary-color-d;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--primary-color-c);
    line-height: 20px;
    
 } 

 .rely_href {
    color: #c47344;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
 }

 .cards {
    background-color: #fffAf2;
    text-align:center;

 }

 .cards_h {
    color: var(--primary-color-text);
    font-size: 42px;
    font-weight: bold;
    line-height: 52px;
 }
.cards_p {
    color: var(--primary-color-text);
    font-size: 16px;
    font-weight: medium;
    line-height: 28px;
}

.cards_button {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}

.quiz_box {
    background-color: #32686f;
}

.quiz_box_h {
    color: --primary-color-d;
    font-size: 28px;
    font-weight: bold;
    text-align:left;
    line-height: 32px;
}
.quiz_box_p {
    color: --primary-color-d;
    font-size: 14px;
    font-weight: medium;
    text-align:left;
    line-height: 20px;
}

.quiz_h {
    color: var(--primary-color-text);
    font-size: 53px;
    font-weight: bold;
    text-align:left;
    line-height: 62px;
}

.quiz_p {
    color: var(--primary-color-text);
    font-size: 21px;
    font-weight: medium;
    text-align:left;
    line-height: 33px;
}

.gallery {
    background-color: #fAf7f3;
    text-align: left;
}
.gallery_h {
    color: #1a1918;
    font-size: 40px;
    font-weight: bold;
    line-height: 54px;
}

.gallery_p{
    color: var(--primary-color-text);
    font-size: 20px;
    font-weight: medium;
    line-height: 32px;
}

.gallery_l {
    color: rgba(0,0,0, 0.45);
    font-size: 20px;
    font-weight: medium;
    line-height: 32px;
}

.footer_list{
    color: var(--primary-color-a);
    font-size: 13px;
    font-weight: 600;
    text-align:left;
    line-height: 20px;
}*/

/*.footer_h{
    color: #313131;
    font-size: 13px;
    font-weight: 500;
}*/
 /*
.footer_inscrip{
    color: #d3d3d3;
    font-size: 13px;
    font-weight: normal; 
    text-align:left;
    line-height: 20px;
}
*/


/*.div1 {
position: absolute;
height: 349px;
left: 25.69%;
right: 25.69%;
top: 246px;

}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;


text-align: center;
}

.green_card {
    position: absolute;
    height: 260px;
    left: -125.45%;
    right: 125.45%;
    top: -24.3px;

    background: #32686F;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.55);
    border-radius: 10px;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 33px;
    /* or 157% */
/*
    text-align: center;

    color: #322F2E;
} 
*/
/* button {
    background: #C47344;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    text-decoration-color: #ffffff;

}
*/