/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');*/

:root {
    --primary-color-a: rgb(49,49,49);
    --primary-color-b: #322f2e;
    --primary-color-c: hsl(22, 52%, 52%);
    --primary-color-d: white;
}

html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

header {
    left: 4.86%;
    right: 4.86%;
}

body {
    /*margin: 0 auto;*/
    min-height: 100%;
    background: linear-gradient(#fff8ef, #fff) no-repeat;
    font-family: "Roboto", sans-serif;
    
}


h1, h2 {
    display:  none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    width: 90.2%;
    margin: 0 auto;
}


/*.menu {
    box-sizing: border-box;
    height: 60px;
    margin-top: 0;
    width: 700px;
    
    display: flex;
   
    justify-content: flex-end;
    align-items: center;
    
    
}*/


nav ul li { 
    /*position: relative;*/
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 18px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 12px;
    padding-left: 12px;*/
}

nav li a {
    font-size: 15px;
    line-height: 133%;
    font-weight: 700;
    text-align: left;
    color: var(--primary-color-b);
    vertical-align: middle;
}

.nav-orange {
    
    box-sizing: border-box;
    min-height: 47px;
    /*width: 129px;*/
    background-color: var(--primary-color-c);
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    color: var(--primary-color-d);
    padding: 14px 28px;
    
}

.nav-orange a {
    color: var(--primary-color-d);
    padding-top: 9px;
}

h1 + section {
    text-align: center;
}

.cont-rely {
    margin-top: 140px;
}

.rely {
    color: var(--primary-color-b);
    
    max-width: 700px;
    min-height: 349px;
    margin: 0 auto;
}

/*.pink-span {
    min-width: 230px;
}
*/
.rely span {
    font-size: 13px;
    line-height: 208%;
    font-weight: 700;
    color: #4d4d4d;
    background-color: #f9ede2;
    
    display: inline-block;
    border-radius: 20px;
    padding-left: 31px;
    padding-right: 20px;
}

.rely span:first-child {
    color: var(--primary-color-d);
    background-color: #f9a38f;
    padding-left: 11px;
    padding-right: 14px;
}

.rely span:last-child {
    position:relative;
    right: 12px;
}

.rely h3 {
    font-size: 110px;
    line-height: 108%;
    font-weight: 500;
    
    margin-top: 11px;
    margin-bottom: 28px;
}

.rely p {
    font-size: 21px;
    line-height: 157%;
    font-weight: 700;
}

.brands li{
    display: inline-block;
    margin: 0 45px; 
}

.brands ul {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-left: 0; 
}

.rely a {
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    color: var(--primary-color-d);
    background-color: var(--primary-color-c);

    display: inline-block;
    padding: 14px 32px;
    border-radius: 50px;
}

.rely_href img {
    position: relative;
    left: 7px;
    top: 4px;
}

.rely_href {
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    color: var(--primary-color-c);
}

.big_picture img{
    width: 100%
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    margin: 132px 8%;
}

.cards div {
    text-align:center;
    color:var(--primary-color-b);
    font-weight: 700;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #E1DED9;

    width: 490px;
    min-height: 578px;
    padding: 50px 20px 33px;
    margin: 15px;
    
}

.cards h3 {
    font-size: 42px;
    line-height: 124%;

    margin: 26px auto 16px;
}

.cards p {
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 23px;
}

.cards a {
    font-size: 15px;
    line-height: 133%;
    color: #000;
    border: 2px solid #e1ded9;

    display: inline-block;
    padding: 14px 37.52px;
    border-radius: 50px;
}

.quiz {
    margin: 177px 10px 135px;
    padding: 22px 20% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quiz-box {
    text-align: left;
    color: var(--primary-color-d);
    background-color: #32686f;
    font-size: 14px;
    line-height: 143%;
    font-weight: 300;

    width: 220px;
    height: 260px;
    border-radius: 15px;
    padding: 20px 25px;

    display: inline-block;
    /*margin-right: 85px;*/

      
    align-self:center;
}

.quiz-box h3 {
    font-size: 28px;
    line-height: 114%;
    font-weight: 700;
    margin: 12px 0;
}

.line {
    display: inline-block;
    border-top: 1px solid var(--primary-color-d);
    padding-top: 10px;
    margin: 0;
    color: var(--primary-color-d);
    width: 170px;
    height: 30px;
}

.line img {
    float: right;
}

.near-quiz {
    text-align: left;
    font-weight: 700;
    color: var(--primary-color-b);

    display: inline-block;
    width: 470px;
    height: 380px;
    margin-top: 22px;
  
}

.near-quiz span {
    text-align:center;
    font-size: 12px;
    line-height: 208%;
    color: var(--primary-color-d);
    background-color: #f9a38f;

    display: inline-block;
    padding: 0px 15px;
    border-radius: 20px;
}

.near-quiz h3 {
    font-size: 53px;
    line-height: 117%;
    margin: 18px 0 25px;
}

.near-quiz p {
    font-size: 21px;
    line-height: 157%;
    font-weight: 500;
    margin: 25px 0 23px;
}

.near-quiz a {
    display: inline-block;
    text-align:center;
    font-size: 21px;
    line-height: 157%;
    color: #000;
    border: 2px solid #e1ded9;
    border-radius: 50px;
    padding: 11px 27px 16px;
}

.main-gallery {
    margin: 12px 8%;
}

.gallery {
    text-align: left;
    background-color: #f2efe9;
    min-height: 413px;
    padding: 45px;
    margin-bottom: 10%;
}

.gallery h3 {
    font-size: 40px;
    line-height: 135%;
    font-weight: 700;
    color: #1A1918;
    margin: 24px 0px;
}

.gallery p {
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;
    color: var(--primary-color-b);
}

.gallery form {
    color:  rgba(0, 0, 0, 0.45);;
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;

   
    margin: 30px 0;
}

form > input {
    border: none;
    padding: 11px 31px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #E1DED9;
    background: #fff;
}

form > a > img {
    position: relative;
    right: 40px;
    top: 8px;
}

.pic_twopeople {
    float: left;
    margin-right: 51px;
}

footer {
    /*margin: 145px 8% 0;*/
    min-width: 100%;
    padding: 0 8% 5%;
}

.footer_container
{   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_list {
    max-width: 313px;
}

.footer_inscrip {
    max-width: 314px;
}

footer, footer ul a {
    text-align: left;
    font-size: 13px;
    line-height: 154%;
    font-weight: 400;
    color: var(--primary-color-a);
}

.footer_h{
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

.footer_inscrip {
    color: #D3D3D3;
}

.info {
    display: inline-block;
}

.columns-list  {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.columns-list ul {
    display: inline-block;
    padding-left: 14%;
}

.pink {
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 191%;
    color: var(--primary-color-d);
}

.social {
    max-height: 75px;
    min-width: 100%;
    margin-top: 35px;
}

.social ul {
    float: right;
    margin: 0;
    padding: 3% 0 0;
}

.social ul li {
    display: inline;
    margin: 0;
    padding: 0;
}


fieldset {
    width: 70%;
    padding: 20px;
    margin: 30px auto;
}

legend {
    font-size: 18px;
    font-weight: 500;
}

input, select {
    border: none;
    padding: 11px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #e1ded9;
    background: #fff;
    color: var(--primary-color-b);
}

form[name=contact] > button {
    font-size: 15px;
    line-height: 133%;
    color: #000;
    border: 2px solid #e1ded9;
    width: 70%;
    padding: 14px 20px;
    margin: 5px 15%;
    border-radius: 50px;
    text-align: center;
    background-color: transparent;
}

form[name=contact] > button:hover{
    background-color: var(--primary-color-c);
    color: var(--primary-color-d);
}

form[name=contact] > button:active{
    background-color: hsl(22, 37%, 62%);
    color: var(--primary-color-d);
    box-shadow:  5px 5px #e1ded9;
}

form[name=contact] > button:focus{
    outline-offset: 5px;
    outline: solid #FAEBD7;
}

button:disabled {
    opacity: 0.5;
}

input::placeholder {
    color: hsl(22, 84%, 23%);
}

input:required {
    border:2px solid hsl(22, 84%, 23%);
}

.day {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    margin: 0 20px;
}

::selection {
    background-color: hsl(22, 45%, 86%);
}

.nav-container-right a:hover, .columns-list a:hover {
    color: hsl(22, 52%, 52%);
}

.nav-orange:hover, .rely a:hover{
    background-color: transparent;
    color: #000;
    border: 2px solid #e1ded9;
}

.nav-orange:active, .rely a:active, .cards a:active, .near-quiz a:active {
    background-color: hsl(22, 37%, 62%);
    color: var(--primary-color-d);
    box-shadow:  5px 5px #e1ded9;
}

.nav-orange:focus, .rely a:focus {
    outline-offset: 5px;
    outline: solid #FAEBD7;
}

.rely_href:hover{
    color: #000;
}

.cards a:hover, .near-quiz a:hover{
    color: var(--primary-color-d);
    background-color: var(--primary-color-c);
}

input[type="checkbox"]:checked ~ .input-text {
    color: var(--selection);
    text-shadow: 0 0 2px black;
}

dt::first-letter {
    font-size: 2em;
}

dd::before {
    content: "\1F6C8";
}

input[type="checkbox"]:checked ~ .ps_elem {
    text-decoration: line-through;
}

input[type="checkbox"]:checked ~ .ps_class {
    text-decoration: line-through;
}


.ps_elements li:nth-child(2n+1) {
    color: blue;
    font-weight: 700;
}

.ps_elements li:nth-child(2n) {
    color: red;
  }

.ps_classes li:nth-child(2n+1) {
    font-style: italic;
    color: green;
}

.ps_classes li:nth-child(2n) {
    color: orange;
  }


